<html>
<head>
    <style>
.image {
  margin: 10px;
  padding: 5px;
  max-width: 300px;
  border: solid;
  float: left;
}
    </style>
</head>

<title>Gallery</title>

{% if subdirectories|length > 0 %}
<h1>Subdirectories</h1>
<ul>
    {% for subdirectory in subdirectories %}
    <li><a href="{{ subdirectory }}/gallery.html">{{ subdirectory }}</a></li>
    {% endfor %}
</ul>
{% endif %}

<h1>All images</h1>

<div>
    {% for image in images %}
    <div class="image">
        <img src="{{ image.path }}" style="max-width: 300px; height: auto;"/>
        <br/>
        <b>{{ image.file }}</b>
        <br/>
        <i>{{ ", ".join(image.tags) }}</i>
    </div>
    {% endfor %}
</div>

</html>